<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
      -->
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.drools" level="DEBUG"/>
  <logger name="org.kie" level="DEBUG"/>
  <logger name="org.jboss" level="DEBUG"/>
  
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>